.navBar {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 8px 0px;
}

.logo_img {
  width: 40px;
  height: 40px;
}

.direction {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

